@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://cdn.pixabay.com/photo/2017/07/31/23/45/pen-2562078_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.index-heading {
    color: #4a5568;
}

.index-button {
    transition: all 0.3s ease;
}

.index-button:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}

.index-link {
    color: #2b6cb0;
}

.index-link:hover {
    color: #2c5282;
}

.index-warning {
    color: #d69e2e;
}

.recipe-back-button {
    transition: all 0.3s ease;
}

.recipe-back-button:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}

.recipe-heading {
    color: #4a5568;
    margin-top: 25px;
}

.recipe-description {
    color: #718096;
}

.recipe-edit-button {
    transition: all 0.3s ease;
}

.recipe-edit-button:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}

.recipe-delete-button {
    transition: all 0.3s ease;
}

.recipe-delete-button:hover {
    background-color: #e53e3e;
    transform: scale(1.05);
}

.recipe-edit-box {
    background-color: #edf2f7;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid #a0aec0;
}

.recipe-edit-heading {
    color: #4a5568;
}

.recipe-edit-instructions {
    color: #718096;
}

.form-label {
    display: block;
    margin-bottom: .5rem;
    color: #4a5568;
}

.form-input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #4a5568;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a0aec0;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-input::placeholder {
    color: #a0aec0;
}

.form-input:focus {
    outline: none;
    border-color: #90cdf4;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.recipe-update-button {
    transition: all 0.3s ease;
}

.recipe-update-button:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}

.form-label {
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.recipe-create-button {
    transition: all 0.3s ease;
}

.recipe-create-button:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}

.create-back-btn {
    transition: all 0.3s ease;
}

.create-back-btn:hover {
    background-color: #4299e1;
    transform: scale(1.05);
}